.hero-section {
  display: flex;
  align-items: center;
  height: calc(90vh - 49px);
  background-color: rgb(214, 230, 240);
  flex-direction: column;
  padding-top: 5rem;
}

.hero-section h1 {
  font-size: 60px;
}

.hero-section-modal {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.modal-btn-container {
  margin-top: 20px;
}

.modal-btn {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(15, 11, 41);
  color: white;
  font-size: 20px;
  transition: 0.5s ease-out;
}

.modal-btn:hover {
  background-color: white;
  color: rgb(15, 11, 41);
  transition: 0.5s ease-out;
}
