.nav {
  background: linear-gradient(to right, #de6161, #2657eb);
  display: flex;
  justify-content: space-evenly;
}

.nav-left {
  padding: 5px;
}

.nav-left h1 {
}

.nav-right {
  display: flex;
  align-items: center;
  position: absolute;
  position: relative;
  padding: 5px;
}

.navbar-btn {
  padding: 5px;
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 30px;
  font-size: 20px;
  background-color: #f1f1e7;
}

.navbar-btn:hover {
  color: rgb(70, 56, 12);
  background-color: #f0d99c;
}
